
* {margin: 0px;
    padding: 0px;
}










/* BODY */

.body {
    font-family: 'Montserrat', sans-serif;
    }


.tituloprincipal {
    text-align: center;
    color: #d2a290;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size:x-large;
}   

.tituloServicios{
    text-align: center;
    color: #ffc69d;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.principal__parrafo{
    text-align: left;
    color: #c57c3a;
    margin-left: 58%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 150px;
}


.principal{
    position: relative;
    background-color: #f6f0ec;
}

.banner {
    max-width: 100%;
    height: 40%;
}

.principal__imagenTexto{
    padding-left: 8%;
}

.inicio{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}

.inicio__info{
    color: #c57c3a;
    font-size:x-large;
    text-align: center;
}

.btn-primary{
    margin-top: 10px;
    background-color: #d2a290;
    color: #f6f0ec;
    border-color: none;
    
}

.btn-primary:hover {
    background-color: #ffe5db;
    border-color: none;
    
}


.btn-primary:visited {
    background-color: #c57c3a;
}









/* NAV */

.logoBlossom{
    margin-left: 30px;
}


.barra {
    background-color: #f6f0ec;
    text-decoration: none;
    list-style: none;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
}

.barra li{
    display: inline;
    margin-left: 2%;
}


nav ul li a {
    color: #c57c3a;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


.contenedor__navServicios a{
    color: #c57c3a;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    
}



.contenedor__navServicios li {
    display: inline;
}   


.seccionServ{
    position: relative;
}

.subMenu{
    display:none;
    position:absolute;
    list-style: none;

}

.seccionServ:hover .subMenu{
    display:table;
    color: #d2a290;
}














/* FOOTER */

.navFooter ul li a{
    color: #c57c3a;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


.footer{
    margin-top: 100px;
    background: linear-gradient(to right, #fcf9f6 0%, #ffe5db 100%);
}


.footerBlossom{
    text-align: center;
    color: #d2a290;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

.BarraFooter {
text-align: center;
padding-bottom: 20px;

}

.BarraFooter li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
} 

.ig{
    padding-bottom: 30px;
    margin-left: 700px;
}







/* SECCIÓN CONTACTO */
.contactanos{
    color:#c57c3a;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
}   

.form{
    
    color: #d2a290;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    
} 

.form div{

    margin-top: 20px;
    margin-left: 4%;
}


.mapa{
    margin-top: 40px;
    text-align: center;
    color: #c57c3a;
}

.h2mapa{
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}


.botonContacto{
    margin-left: 614px;
	padding: 12px 24px;
    background-color: #fcf9f6;
    color: #d2a290;
    border-radius: 7px;
    border-color: #d2a290;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
}

.botonContacto:hover {
	transform: scale(1.10);
}

.botonContacto:active {
	transform: scale(0.9);
}

.form-control{
    width: 200px;
    height: 30px;
}

.form-control2{
    width: 580px;
    height: 100px;
}

.form-select{
    width: 155px;
    height: 30px;
}







/* SECCIÓN SOBRE MÍ */

.tituloSobreMi__titulo{
    color: #d2a290;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60px;
    margin-top: 40px;
}


.sobreMi__parrafo{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 200px;
    left: 630px;
}

.sobreMi__foto{
    margin-top: 5px;
    margin-left: 200px;
    border-radius: 200%;
}

.sobreMi__boton{
    margin-left: 614px;
	padding: 12px 24px;
    background-color: #fcf9f6;
    color: #d2a290;
    border-radius: 7px;
    border-color: #d2a290;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
}

.sobreMi__boton:hover {
	transform: scale(1.10);
}

.sobreMi__boton:active {
	transform: scale(0.9);
}





.sobreMi{
    position: relative;
    background-color: #fcf9f6 ;
}








/* SECCIÓN PORTFOLIO */

.pPortfolio{
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
    color: #d2a290;
    text-align: center;
    margin-bottom: 40px;
    font-size: 130%;
}



.imagenesPortfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.img{
    margin: 10px;
}

.img:hover{
    transform: scale(1.2); 
}








/* SECCIÓN SERVICIOS */

.bannerServicios{
    margin-bottom: 100px;
}

.parrafoBranding{
    justify-content: center
}
.seccionbranding{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}


.tablaServicioBranding{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto auto auto auto;
    justify-content: center;
    align-content: center;
}


.tablaServicioBranding div {
    background-color: #fcf9f6;
    text-align: left;
    border: 1px solid #c57c3a;
    justify-content: center;
}

.item7{
    grid-area: 1 / 2 / 7 / 2;
}










/* MEDIA QUERYES */



@media only screen and (max-width: 1024px) {
    .parrafoPrincipal{
        margin-left: 40%;
    }
}




@media only screen and (max-width: 768px) {
    .parrafoPrincipal{
        margin-left: 50%;
    }

    .tituloServicios{
        margin-top: 100px;
    }
}



@media only screen and (max-width: 320px) {
        .parrafoPrincipal{
            margin-left: 5%;
    }
}