.botonError{
    margin-left: 614px;
	padding: 12px 24px;
    background-color: #fcf9f6;
    color: #d2a290;
    border-radius: 7px;
    border-color: #d2a290;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
}