/* SECCIÓN SERVICIOS */

.bannerServicios{
    max-width: 100%;
}

.h1Servicios{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    
}

.sBranding{
    margin-top: 60px;
}

.iBranding{
    margin-left: 370px;
}

.hBranding{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pMarcas{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.sRedes{
    margin-top: 60px;
}

.iRedes{
    margin-left: 370px;
}

.hRedes{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pRedes{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



.sPapel{
    margin-top: 60px;
}

.iPapel{
    margin-left: 370px;
}

.hPapel{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pPapel{
    color: #c57c3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
